

@{
    ViewBag.Title = "DvtForm";
}

<li><a href="~/Home/Education" class="tablinks" onclick="openCity(event, 'Education')">Education</a></li>
<li><a href="~/Home/ApplicantInfo" class="tablinks" onclick="openCity(event, 'Applicant')">ApplicantInfo</a></li>
<li><a href="~/Home/Person" class="tablinks" onclick="openCity(event, 'Person')">Person</a></li>
<li><a href="~/Home/ApplicantContract" class="tablinks" onclick="openCity(event, 'Applicant')">ApplicantContract</a></li>
<li><a href="~/Home/Application" class="tablinks" onclick="openCity(event, 'Application')">Application</a></li>
<li><a href="~/Home/BackgroundCheck" class="tablinks" onclick="openCity(event, 'Backgroundcheck')">BackgroundCheck</a></li>
<li><a href="~/Home/EmploymentType" class="tablinks" onclick="openCity(event, 'employment')">Employment</a></li>

<li><a href="~/Home/NextOfKin" class="tablinks" onclick="openCity(event, 'Next')">Next of Kin</a></li>
<li><a href="~/Home/Person" class="tablinks" onclick="openCity(event, 'Person')">Person</a></li>
<li><a href="~/Home/ProjectSynopsis" class="tablinks" onclick="openCity(event, 'project')">Project Synopsis</a></li>

<li><a href="~/Home/References" class="tablinks" onclick="openCity(event, 'employment')">References</a></li>

