
@{
    ViewBag.Title = "Index";
}

<div class="nav row">
  
    <div class="col-md-8">
        <ul class="tab">
            <li><a href="~/Home/Index" class="tablinks" onclick="openCity(event, 'Home')">Home</a></li>
            <li><a href="~/Home/Register" class="tablinks" onclick="openCity(event, 'Registration')">Registration</a></li>
            <li><a href="~/Home/login" class="tablinks" onclick="openCity(event, 'Login')">Login</a></li>
           
            <li><a href="~/Home/DvtForm" class="tablinks" onclick="openCity(event, 'Form')">DvtForm</a></li>
            <li><a href="~/Home/RetrieveInformation" class="tablinks" onclick="openCity(event, 'RetrieveInformation')">Retrieve Information</a></li>
        </ul>
    </div>
</div>