
@{
    ViewBag.Title = "DVT RECRUITMENT";
}
<hr />
<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center">Welcome to the DVT Recruitment Portal</h3>
        <h4 class="text-center">Kindly log in or register to begin</h4>
    </div>
</div>
<div class="nav row text-center">
  
    <div class="col-lg-12">
        <ul class="list-unstyled">
            <!--<li><a href="~/Home/Index" class="btn btn-default" onclick="openCity(event, 'Home')">Home</a></li>-->
            <li><a href="~/User/SignUp" class="btn btn-default" onclick="openCity(event, 'Registration')">Registration</a></li>
            <li><a href="~/Home/login" class="btn btn-default" onclick="openCity(event, 'Login')">Login</a></li>
           <!--
            <li><a href="~/Home/DvtForm" class="btn btn-default" onclick="openCity(event, 'Form')">Dvt Form</a></li>
            <li><a href="~/Home/RetrieveInformation" class="btn btn-default" onclick="openCity(event, 'RetrieveInformation')">Retrieve Information</a></li>
            -->
        </ul>
    </div>
</div>