
@{
    ViewBag.Title = "LoggedInMenu";
}

<h2>LoggedInMenu</h2>

<div class="nav row">

    <div class="col-md-8">
        <ul class="tab">
            <li><a href="~/Application/SavePerson" class="tablinks" onclick="openCity(event, 'Form')">ADD INFORMATION</a></li>
            <li><a href="~/Home/UpdateMainMenu" class="tablinks" onclick="openCity(event, 'Form')">UPDATE INFORMATION</a></li>
        </ul>
    </div>
</div>

