
@{
    ViewBag.Title = "UpdateMainMenu";
}

<h2>UpdateMainMenu</h2>

<div class="nav row">

    <div class="col-md-8">
        <ul class="tab">
            <li><a href="~/Update/UpdateEducation" class="tablinks" onclick="openCity(event, 'Education')">Education</a></li>
            <li><a href="~/Update/ApplicantInformation"  class="tablinks" onclick="openCity(event, 'Applicant')">ApplicantInfo</a></li>
            <li><a href="~/Update/UpdatePerson" class="tablinks" onclick="openCity(event, 'Person')">Person</a></li>

            <li><a href="~/Update/NextOfKin" class="tablinks" onclick="openCity(event, 'Next')">Next of Kin</a></li>
            <li><a href="~/Update/ProjectSynopsis" class="tablinks" onclick="openCity(event, 'project')">Project Synopsis</a></li>

        </ul>
    </div>
</div>
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="col-md-12 space"><a onclick="javascript:history.go(-1)" href="/"><< Back to List</a></div>
    </div>
</div>